
/* Universal Box-sizing with inheritance */
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 18px;
}

header{
    background-image: url('../images/desktop/image-header.jpg');
}

.section{
    
}

#lonely-image1{
    background-image: url('../images/desktop/image-transform.jpg');
}

#lonely-image2{
    background-image: url('../images/desktop/image-stand-out.jpg');
}

.section-image{
    
}

.testimonials{

}
